.Faqs {
  border-top: solid 7px rgb(40, 40, 40);
  border-bottom: solid 7px rgb(40, 40, 40);
}

#FaqTitle {
  font-size: 48px;
}

#QuestionList {
  list-style-type: none;
}

.Question {
  background-color: rgb(53, 53, 53);
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 20px 25px 30px 25px;
  width: 40%;
  height: 20px;
  text-align: left;
  font-size: 26px;
}

.ExpandPlus {
  float: right;
}
